<%= stylesheet_link_tag 'application.css' %>

<h1> <%=@blog.title%></h1>

<P> <%=@blog.content%></p>


<p><%= link_to 'All Posts', blogs_path %></p>

<p><%= link_to 'Edit Post', edit_blog_path %></p>

<p><%= button_to 'Remove Post', delete_blog_path, method: :delete  %></p>



<footer> <p>Tammy & Ira Blog Page</p> 
</footer>